// CSS Variables
// =============


@mixin css-variables(
  $map,
  $prefix: null
) {
  @each $token, $val in $map {
    @if not _a_is-private-token($token) {
      $alias: false;

      @if (type-of($val) == 'string') and (str-index($val, '#') == 1) {
        $try: str-slice($val, 2);

        @if map-has-key($map, $try) {
          $alias: unquote('--#{$prefix}#{$try}');
        }
      }

      $key: unquote('--#{$prefix}#{$token}');
      $val: get-token($map, $token);
      $val: if($alias, var($alias, $val), $val);
      #{$key}: $val;
    }
  }
}


@function var-token(
  $map,
  $token,
  $fallback: true,
  $prefix: null
) {
  $var: unquote('--#{$prefix}#{$token}');

  @if ($fallback == true) {
    @return var($var, get-token($map, $token));
  } @else if (map-has-key($map, $fallback)) {
    @return var($var, unquote('--#{$prefix}#{$fallback}'));
  } @else if $fallback {
    @return var($var, $fallback);
  }

  @return var($var);
}
