/// # Core Parser
/// @access private


// Get
// ---
/// Adds value/do functionality
/// to the value-parsing power of `_a_parse()`.
/// Functions can be added as a map at the end of a value --
/// but some use-cases may confuse the parser,
/// so we provide a more explicit map option with a `value` key,
/// followed by functions and args.
///
/// @access private
///
/// @param {map} $map -
///   A map of token definitions to reference against
/// @param {*} $key -
///   Map access key for parsing
/// @return {*} -
///   Final parsed and adjusted value from the original map
@function _a_get(
  $map,
  $key,
) {
  $type: type-of($key);
  $do: null;
  $value: $key;

  // break out `do` maps…
  @if ($type == 'map') and (nth(map-keys($key), 1) == '%value') {
    $value: map-get($key, '%value');
    $do: map-remove($key, '%value');
  } @else if index('list' 'arglist', $type) {
    $final: nth($key, -1);

    @if (length($key) > 1) and (type-of($final) == 'map') {
      $do: $final;
      $value: _a_remove-nth($key, -1);
      $value: if(length($value) == 1, nth($value, 1), $value);
    }
  }

  // resolve any #alias tags…
  $value: _a_parse($map, $value);

  // make any necessary adjustments…
  $value: _a_do-each($map, $value, $do);

  @return $value;
}


// Parse
// -----
/// Handles recursive parsing for list/map values.
///
/// @access private
///
/// @param {map} $haystack -
///   A map of terms to reference tags against
/// @param {*} $needle -
///   The original value to be parsed for `#alias` tags
/// @return {*} -
///   Updated `$needle` value
///   in the same format as the original,
///   but with all `#alias` tags replaced
@function _a_parse(
  $haystack,
  $needle
) {
  $type: type-of($needle);

  // handle list values…
  @if index('list' 'arglist', $type) {
    $new: _a_list-template($needle);

    // handle each item in the list…
    @each $bit in $needle {
      $new: append($new, _a_get($haystack, $bit));
    }

    @return $new;
  }

  // handle map values…
  @if ($type == 'map') {
    $new: ();

    // handle each value in the map…
    @each $key, $value in $needle {
      $new-key: _a_get($haystack, $key);
      $new-value: _a_get($haystack, $value);

      $new: map-merge($new, ($new-key: $new-value));
    }

    @return $new;
  }

  @if ($type == 'string') {
    $needle: _a_replace($haystack, $needle);
  }

  @return $needle;
}


// Replace
// -------
/// Search for `#alias` mentions within a string,
/// and return the string with aliases replaced.
///
/// @since 2.0.0 -
/// - NEW: Handles access to nested-map tokens
///   using the hashtag `'#first->second->third'` syntax
///
/// @access private
///
/// @param {map} $haystack -
///   A map of terms to reference tags against
/// @param {string} $string -
///   The original string to be parsed for `#alias` tags
/// @return {*} -
///   Input $string, with #alias mentions replaced
@function _a_replace(
  $haystack,
  $string
) {
  $hashdex: str-index($string, '#');

  // replace aliases…
  @if $hashdex {
    $deep: str-index($string, '->') or 0;
    $haystack: if(($deep > $hashdex), _a_flat-source($haystack), $haystack);

    // check longest keys first, in case of overlap
    @each $key in _a_str-length-sort(map-keys($haystack)) {
      $hash: '##{$key}';

      @if (type-of($string) == 'string') and str-index($string, $hash) {
        $new: get-token($haystack, $key);
        $string: _a_str-replace($string, $hash, $new, 'all');
      }
    }
  }

  @return $string;
}


// Do Each
// -------
/// A wrapper for calling `_a_do()`
/// over each item in an adjustments list.
///
/// @access private
///
/// @param {map} $map -
///   A map of terms to reference tags against
/// @param {*} $value -
///   The value to be manipulated
/// @param {map | null} $do [null] -
///   A map of function/ratio adjustments to run on the returned value
@function _a_do-each(
  $map,
  $value,
  $do: null
) {
  @if ($do) {
    @each $name, $args in $do {
      $value: _a_do($map, $name, $value, $args...);
    }
  }

  @return $value;
}


// Do
// --
/// Applies any ratio or function adjustments
/// to Accoutrement map values
///
/// @access private
///
/// @param {map} $source -
///   A map of terms to reference tags against
/// @param {string | ratio | function} $name -
///   The ratio or function to use in manipulation
/// @param {*} $value -
///   The value to be manipulated
/// @param {arglist} $args... -
///   Any arguments required for a function call
/// @return {*} -
///   Manipulated value
/// @throws No ratio or function found with the given name
@function _a_do(
  $source,
  $name,
  $value,
  $args...
) {
  // Allow internal map references
  $name: _a_get($source, $name);
  $args: _a_get($source, $args);

  // Handle null args…
  @if (length($args) == 1) {
    $args: nth($args, 1);
  }

  // Try ratios first
  @if type-of($value == 'number') {
    $ratio: ratio($name);

    @if ($ratio == 'linear') {
      @return $value * $args;
    } @else if (type-of($ratio) == 'number') {
      $multiplier: _a_pow($ratio, $args);
      @return $value * $multiplier;
    }
  }

  // Fallback to function calls
  $function: _a_get-function($name);

  @if ($function) {
    @if ($args) {
      @return call($function, $value, $args...);
    } @else {
      @return call($function, $value);
    }
  }

  // error
  @return _a_error(
    'No ratio or function named `#{$name}`',
    '_a_do'
  );
}


// Source Memo
// -----------
/// Memoization of nested->flattened source maps,
/// to avoid duplication of the flattening process.
///
/// @access private
/// @prop {map} <nested source map>
///   Use the original map as a key,
///   and store the flattened map as a value
$_a_source-memo: ();


// Flat Source
// -----------
/// Flatten a nested accoutrement map,
/// using `->` delimiter to designate nested keys.
///
/// @access private
/// @param {map} $source -
///   A nested map of accoutrement tokens to flatten
@function _a_flat-source(
  $source
) {
  // Check memo…
  $memo: map-get($_a_source-memo, $source);

  @if $memo {
    @return $memo;
  }

  // No memo, flatten…
  $flat: $source;

  @each $key, $value in $source {
    @if (type-of($value) == 'map') and not map-has-key($value, '%value') {
      @each $sub-key, $sub-val in _a_flat-source($value) {
        $sub-key: '#{$key}->#{$sub-key}';
        $flat: map-merge($flat, ($sub-key: $sub-val));
      }
    }
  }

  // Store to memo…
  $_a_source-memo: map-merge($_a_source-memo, ($source: $flat)) !global;

  // Done…
  @return $flat;
}
