/// # Layout & Type Ratios
/// Ratios are useful for both [modular-scales](scale-sizes.html)
/// and [fluid media](layout-ratios.html) layouts.
/// We've moved them into the core,
/// as a common way of manipulating numerical data,
/// on-par with function-calls.
/// @group core-ratio


// Ratios
// ------
/// Define your own ratios,
/// or alias keys for built-in ratios.
/// Any ratios that resolve to `linear`
/// will not use any exponential scale.
///
/// @group core-ratio
/// @example scss
///   $ratios: (
///     'line-height': (1 / 3),
///     'headings': 'linear',
///     '_golden': 1.61803399,
///   );
///
/// @type map
/// @see $_a_RATIOS
$ratios: () !default;


// Ratio [function]
// ----------------
/// Retrieve a scale ratio by name
/// from either the `$_DEFAULT-RATIOS`
/// or user `$ratios` configurations.
///
/// @since 1.0.0 -
/// - NEW: Accepts `$do` map argument,
///   for on-the-fly adjustments
/// - NEW: Accepts `$source` map argument,
///   for custom source-palette
///
/// @group core-ratio
/// @example scss
///   /* _octave: #{ratio('_octave')} */
///   /* _fifth: #{ratio('_fifth')} */
///
/// @param {string | number} $ratio -
///   The key-name or value of a ratio
/// @param {map | null} $do [null] -
///   A map of function/ratio adjustments to run on the returned value
/// @param {map} $source [$ratios] -
///   Optional accoutrement-format map of ratios to use as the origin palette
///   (in addition to the provided defaults)
/// @return {number} -
///   The numeric value of a ratio
@function ratio(
  $ratio,
  $do: null,
  $source: $ratios
) {
  $source: map-merge($_a_RATIOS, $source);
  @return get-token($source, $ratio, $do);
}
@include _a_register-function('ratio');


// Add Ratios
// ----------
/// Merge individual ratio maps into the global `$ratio` variable.
/// This can be useful for internal organization,
/// documentation with [SassDoc][SassDoc],
/// or integration with our pattern-library generator:
/// [Herman][Herman].
///
/// [SassDoc]: http://sassdoc.com/
/// [Herman]: http://oddbird.net/herman/
///
/// @group core-ratio
///
/// @param {map...} $maps -
///   Pass any number of maps to be merged.
/// @output -
///   An updated global `$ratios` variable,
///   with new maps merged in.
@mixin add-ratios(
  $maps...
) {
  $ratios: _a_map-multimerge($ratios, $maps...) !global;
}


// Default Ratios
// --------------
/// Some default named ratios you can use,
/// but shouldn't edit directly.
///
/// @group core-ratio
/// @see $ratios
/// @access public
$_a_RATIOS: (
  '_octave': 2,
  '_major-seventh': (15 / 8),
  '_minor-seventh': (16 / 9),
  '_major-sixth': (5 / 3),
  '_minor-sixth': (8 / 5),
  '_fifth': (3 / 2),
  '_augmented-fourth': (45 / 32),
  '_fourth': (4 / 3),
  '_major-third': (5 / 4),
  '_minor-third': (6 / 5),
  '_major-second': (9 / 8),
  '_minor-second': (16 / 15),

  '_photo': '#_fifth',
  '_classic': '#_fourth',
  '_widescreen': '#_minor-seventh',
  '_cinema': 2.39,
  '_golden': 1.618,
);


