/// # Core Function Registration
/// @group core-register
/// @access private


// Internal Functions
// ------------------
/// These functions are defined internally,
/// and can be called by name without first being captured
/// using the Sass `get-function()` approach.
/// User should not make changes to this map.
///
/// @access private
/// @group core-register
/// @see {mixin} _a_register-function()
/// @type map
$_ACCOUTREMENT_FUNCTIONS: () !default;


// Register Function
// -----------------
/// Register internal accoutrement functions,
/// that can be safely captured using `function-get()`
/// in the latest versions of Sass.
///
/// @access private
/// @group core-register
/// @see {function} _a_get-function()
///
/// @param {string | function} $function -
///   The function-name to be registered
///   or a first-class function previously captured
/// @param {strings} $names... [$function] -
///   One or more alias names (strings)
///   to use for map-access to the function
/// @output {map} $_ACCOUTREMENT_APP -
///   Functions are registered in a map
///   under any number of aliases
@mixin _a_register-function(
  $function,
  $names...
) {
  $register: _a_registration($function, $names, $_ACCOUTREMENT_FUNCTIONS);
  $_ACCOUTREMENT_FUNCTIONS: $register !global;
}


// Registration
// ------------
/// This function provides the shared logic used by
/// `register-function()` (for user registration)
/// and `_a_register-function()` (for internal use).
///
/// @access private
/// @group core-register
/// @see {mixin} register-function()
/// @see {mixin} _a_register-function()
///
/// @param {string | function} $function -
///   The function-name to be registered,
///   or a first-class function previously captured
/// @param {list} $names [$function] -
///   One or more alias names (strings)
///   to use for map-access to the function
/// @param {map} $register [true] -
///   Toggle between user registration
///   and internal registration
/// @return {map} -
///   Updated registration map
/// @throw -
///   '#{$function}() is not available to register with Accoutrement'
@function _a_registration(
  $function,
  $names: (),
  $register: ()
) {
  @if not function-exists($function) {
    @warn '#{$function}() is not available to register with Accoutrement';
  } @else {
    @if (length($names) == 0) or (str-index($function, '_') != 1) {
      $names: join($function, $names);
    }

    @if function-exists('get-function') and (type-of($function) == 'string') {
      $function: get-function($function);
    }

    @each $name in $names {
      $name: ($name: $function);
      $register: map-merge($register, $name);
    }
  }

  @return $register;
}


// Get Function
// ------------
/// Get a first-class function in Sass 3.5+,
/// or the function name string (unchanged)
/// in older Sass versions.
/// This is safe to use internally,
/// as it allows users to pass in
/// either a string, or a previously-captured function.
///
/// @access private
/// @group core-register
///
/// @param {string | function} $function -
///   The name (string) of a registered function,
///   or the first-class function to be called
/// @param {string} $app -
///   The accoutrement app that a function is associated with
/// @return {string | function} -
///   Returns a first-class function in Sass 3.5+,
///   or the function name string in older Sass versions
@function _a_get-function(
  $function
) {
  $type: type-of($function);

  @if ($type == 'function') {
    @return $function;
  }

  @if function-exists('get-function') {
    // sass-lint:disable variable-name-format
    $registered: map-merge($_ACCOUTREMENT_FUNCTIONS, $functions);

    @if map-has-key($registered, $function) {
      @return map-get($registered, $function);
    }

    @error '[#{$type}] `#{$function}` must be a first-class function';
  }

  @return $function;
}
