/// # String functions
/// Functions for basic Sass-string manipulation.
/// While these functions are defined with private prefixes,
/// they are registered without the prefix for map-access.
/// @group core-strings


// String Replace
// --------------
/// Replace a substring inside a larger string,
/// or replace the entirety of the string.
///
/// This function is prefixed outside maps
/// & should not be used directly,
/// but is available in all accoutrement maps
/// under the `'str-replace'` alias.
///
/// @since 1.0.0 -
/// - NEW: Improved handling of non-string values,
///   allows you to replace a number within a string, for example
///
/// @access public
/// @name str-replace
/// @group core-strings
/// @example scss
///   // sass treats calc() as a string,
///   // so we can use string-functions to manipulate calc values…
///   $map: (
///     'text-size': calc(1em + 1vw),
///     'large-text': '#text-size' ('str-replace': '1vw' '3vw'),
///   );
///   /*! #{get-token($map, 'large-text')} */
///
/// @param {string | list} $string -
///   The original string (or list of strings) to edit
/// @param {*} $old -
///   A sub-string to replace
/// @param {*} $new [null] -
///   A new sub-string to replace the old
/// @param {boolean} $replace-all [false] -
///   A new sub-string to replace the old
/// @return {string} -
///   Original string, with substring replaced
@function _a_str-replace(
  $string,
  $old,
  $new: null,
  $replace-all: false
) {
  $return: $string;

  // Loops lists
  @if (type-of($string) == 'list') {
    $return: _a_list-template($string);
    @each $item in $string {
      $item: _a_str-replace($item, $old, $new, $replace-all);
      $return: append($return, $item);
    }
    @return $return;
  }

  // Force $old to string
  $old: if($old and (type-of($old) == 'string'), $old, '#{$old}');
  $string: if((type-of($string) == 'string'), $string, '#{$string}');

  // get length and index
  $i: str-index($string, $old);
  $n: str-length($old);

  // replace…
  @if $string == $old {
    $return: $new;
  } @else if $i {
    // Force $new & $string to string
    $new: if((type-of($new) == 'string') or (not $new), $new, '#{$new}');

    // before and after…
    $a: if($i > 1, str-slice($string, 1, $i - 1), '');
    $z: str-slice($string, $i + $n);

    // recurion if needed…
    @if $replace-all {
      $z: _a_str-replace($z, $old, $new, true);
    }

    // re-compile…
    $return: $a + if($new, $new, '') + $z;
  }

  @return $return;
}
@include _a_register-function('_a_str-replace', 'str-replace');


// Interpolate
// -----------
/// Return a string with interpolated values
/// replacing `%s` placeholders in a format string.
///
/// This function is prefixed outside maps
/// & should not be used directly,
/// but is available in all accoutrement maps
/// under the `'interpolate'` or `'%s'` aliases.
///
/// @access public
/// @name interpolate
/// @group core-strings
/// @example scss
///   // sass treats calc() as a string,
///   // so we can use string-functions to manipulate calc values…
///   $map: (
///     'root': 16px,
///     'responsive': calc(%s + %s) ('%s': #root 0.5vw),
///   );
///   /*! #{get-token($map, 'responsive')} */
///
/// @param {string} $string -
///   The original string to be edited
/// @param {*} $values... -
///   New strings, to replace the `%s` format strings
/// @return {string} -
///   Original string, with `%s` format strings replaced
/// @throws Too many interpolation values given for the string
@function _a_interpolate(
  $string,
  $values...
) {
  $string: _a_type-check($string, 'string', '_a_interpolate', '$string');
  $_return: $string;

  @each $val in $values {
    @if str-index($_return, '%s') {
      $_return: _a_str-replace($_return, '%s', $val);
    } @else {
      $length: length($values);
      @return _a_error(
        'Too many interpolation values (#{$length}) given for `#{$string}`',
        '_a_interpolate'
      );
    }
  }

  @return $_return;
}
@include _a_register-function('_a_interpolate', 'interpolate', '%s');


// Split
// -----
/// Splits a string into a list of strings,
/// using the same logic as JavaScript's `split()` meathod.
///
/// This function is prefixed outside maps
/// & should not be used directly,
/// but is available in all accoutrement maps
/// under the `'str-split'` or `'split'` aliases.
///
/// @since 1.0.0 -
/// - NEW: Aliased as `str-split`
///
/// @access public
/// @name str-split
/// @group core-strings
/// @example scss
///   $map: (
///     'list': 'hello world' ('split': ' '),
///   );
///   /*! #{get-token($map, 'list')} */
///
/// @param {string} $string -
///   The original string to be split
///   - Empty strings will be returned as a list of one empty string
/// @param {*} $separator [null] -
///   The string will be split on any instance of the separator,
///   and the separators will be removed
///   - Null or unfound separators will return a single-item list
///     with the original string
///   - Empty-string (`''`) separators will return a list of
///     all characters in the original string
///   - Non-string separators will be converted to strings before splitting
/// @param {integer | null} $limit [null] -
///   Maximum length of the returned list
/// @return {list} -
///   Space-delimited list of string-slices from the original string
@function _a_split(
  $string,
  $separator: null,
  $limit: null
) {
  $list: ();

  @if (not $separator) or ($string == '') {
    @return append($list, $string);
  }

  $string: if((type-of($string) == 'string'), $string, '#{$string}');
  $length: str-length($string);
  $limit: if($limit, min($limit, $length), $length);
  $separator: if(type-of($separator) != 'string', '#{$separator}', $separator);
  $index: str-index($string, $separator);

  @for $i from 1 through $limit {
    @if ($string) {
      $slice: null;

      @if ($separator == '') {
        $length: str-length($string);

        @if ($length > 1) {
          $slice: str-slice($string, 1, 1);
          $string: str-slice($string, 2);
        } @else {
          $slice: if(($length == 1), $string, '');
          $string: null;
        }
      } @else if ($index) {
        $slice: str-slice($string, 1, $index - 1);
        $string: str-slice($string, $index + str-length($separator));
        $index: str-index($string, $separator);
        $slice: if($string and not $index, $slice $string, $slice);
      }

      $list: if($slice, join($list, $slice), $list);
    }
  }

  @return $list;
}
@include _a_register-function('_a_split', 'str-split', 'split');


// Trim
// ----
/// Trims whitespace from the start and end of a string.
///
/// This function is prefixed outside maps
/// & should not be used directly,
/// but is available in all accoutrement maps
/// under the `'str-trim'` or `'trim'` aliases.
///
/// @since 1.0.0 -
/// - NEW: Strips whitespace
/// - NEW: Aliased as `str-trim`
///
/// @access public
/// @name str-trim
/// @group core-strings
/// @example scss
///   $map: (
///     // null value is needed for single-argument functions…
///     'trim': '  hello world     ' ('trim': null),
///   );
///   /*! #{get-token($map, 'trim')} */
///
/// @param {string} $string -
///   The original string to be trimmed
/// @return {string} -
///   Trimmed string
@function _a_trim(
  $string
) {
  $string: _a_type-check($string, 'string', 'str-trim', '$string');
  $first: (str-slice($string, 1, 1) == ' ');
  $last: (str-slice($string, -1) == ' ');

  @if ($first or $last) {
    $string: if($first, str-slice($string, 2), $string);
    $string: if($last, str-slice($string, 1, -2), $string);
    $string: _a_trim($string);
  }

  @return $string;
}
@include _a_register-function('_a_trim', 'str-trim', 'trim');
