@use 'named';
@use 'sass:map';
@use 'sass:meta';

// Provides named ratios with a prefix
$_source-ratios: meta.module-variables('named');
$named-ratios: ();

@each $name, $value in $_source-ratios {
  $named-ratios: map.merge(
    $named-ratios,
    (
      '_#{$name}': $value,
    )
  );
}
