/// # Color Configuration
/// The color module provides several functions & mixins
/// for managing color contrast,
/// as well as `tint` and `shade` functions
/// for mixing colors with white or black.
/// In both cases, it can be useful to establish your own
/// light & dark contrast colors to work with
/// in place of true white or black.
/// @group color-config
/// @see tint
/// @see shade

// Contrast Light
// --------------
/// Establish a default light color
/// for use in contrast functions.
/// @type color
/// @group color-config
$contrast-light: white !default;

// Contrast Dark
// --------------
/// Establish a default dark color
/// for use in contrast functions.
/// @type color
/// @group color-config
$contrast-dark: black !default;

// Contrast Settings
// --------------
/// Access the configurable contrast variables as an
/// Accoutrement token map.
/// @access private
/// @group color-config
///
/// @param {string} $color [$contrast-light] -
///   The default light contrast color
/// @param {string} $color [$contrast-dark] -
///   The default dark contrast color
/// @return {map} -
///   A map of the default contrast colors
@function contrast-settings(
  $contrast-light: $contrast-light,
  $contrast-dark: $contrast-dark
) {
  @return (
    '_contrast-light': $contrast-light,
    '_contrast-dark': $contrast-dark
  );
}
