@use 'pkg:sass-true' as *;
@use '../../sass/color/contrast-vars' as contrast;
@use '../../sass/color/tokens';
@use '../../sass/color/css-vars' as vars;
@use 'test-data' as data;

$_old: tokens.$colors;
tokens.$colors: data.$colors;

@include test-module('color/contrast-vars') {
  // var-contrast [function]
  // -----------------------
  @include describe('var-contrast [function]') {
    @include it('Returns a contrasting CSS variable when available') {
      @include assert-equal(
        contrast.var-contrast('blue', 'dark', 'light'),
        var(--color-dark, #111)
      );
    }

    @include it('Returns a contrasting color when no variable') {
      @include assert-equal(contrast.var-contrast('blue', #111, #eee), #111);
    }
  }

  // var-contrasted [function]
  // -------------------------
  @include describe('var-contrasted [function]') {
    @include it(
      'Creates a background and contrasting color with CSS variables'
    ) {
      @include assert {
        @include output {
          @include contrast.var-contrasted('blue', 'light', 'dark');
        }

        @include expect {
          background-color: vars.var-color('blue');
          color: vars.var-color('dark');
        }
      }
    }
  }
} // end module

tokens.$colors: $_old;
