@use 'pkg:sass-true' as *;
@use '../../sass/color/utils';
@use '../../sass/color/tokens';
@use 'test-data' as data;
@use 'sass:color';

$_old: tokens.$colors;
tokens.$colors: data.$colors;

@include test-module('color/utils') {
  // Tint [function]
  // ---------------
  @include describe('Tint [function]') {
    @include it('Adjusts the tint of a color') {
      @include assert-equal(
        utils.tint('primary', 25%),
        color.mix(tokens.color('contrast-light'), tokens.color('primary'), 25%),
        'Returns a color mixed with default-light at a given weight.'
      );
    }

    @include it('Custom contrast-light override') {
      @include assert-equal(
        utils.tint('primary', 25%, lightgreen),
        color.mix(lightgreen, tokens.color('primary'), 25%)
      );
    }
  }

  // Shade [function]
  // ----------------
  @include describe('Shade [function]') {
    @include it('Adjusts the shade of a color') {
      @include assert-equal(
        utils.shade('primary', 25%),
        color.mix(tokens.color('contrast-dark'), tokens.color('primary'), 25%),
        'Returns a color mixed with default-dark at a given weight.'
      );
    }

    @include it('Custom contrast-dark override') {
      @include assert-equal(
        utils.shade('primary', 25%, darkgreen),
        color.mix(darkgreen, tokens.color('primary'), 25%)
      );
    }
  }
} // end module

tokens.$colors: $_old;
