@use '../../node_modules/sass-true/sass/true' as *;
@use '../../sass/utils/map';
@use '../../sass/internal/type';

@include test-module('utils/map') {

  // Merge [function]
  // ----------------
  @include describe('Multi-Merge [function]') {
    $a: (
      'one': 1,
      'two': 2,
    );
    $b: ('two': 'tooooo');
    $c: ('three': 3);

    @include it('Merges multiple maps') {
      @include assert-equal(
        map.multi-merge($a, $b, $c),
        (
          'one': 1,
          'two': 'tooooo',
          'three': 3,
        )
      );
    }

    @include it('Errors on non-map values') {
      @include assert-equal(
        map.multi-merge($a, 'nope', $c),
        'ERROR [multi-merge] Each value of `$maps...` must be a map, got `[string]: nope`'
      );
    }

    @include it('Accepts empty maps') {
      @include assert-equal(
        map.multi-merge($a, ()),
        $a
      );
    }
  }

}
