@use '../../node_modules/sass-true/sass/true' as *;
@use '../../sass/utils/sort';

@include test-module('utils/sort') {

  // By Length [function]
  // --------------------
  @include describe('By Length [function]') {
    $test: [ 'one' 'seven' 'two' 'a' blue 'something longer' 23 0.2754 ];
    $test: sort.by-length($test);
    $expect: ['something longer' 0.2754 'seven' blue 'one' 'two' 23 'a'];

    @include it('Sorts a list of any items by string length') {
      @include assert-equal(
        $test,
        $expect
      );
    }

    @include it('Retains the initial list type') {
      @include assert-equal(
        list-separator($test),
        list-separator($expect)
      );

      @include assert-equal(
        is-bracketed($test),
        is-bracketed($expect)
      );
    }
    }

}
