@use 'sass:meta';
@use 'sass:map';
@use '../internal/type';
@use '../internal/throw';

// Map MultiMerge
// --------------
/// Merge multiple \maps into a single map,
/// in case you want to define tokens in smaller groups –
/// such as `brand-colors`, `text-colors`, etc. –
/// before merging them into a single map.
///
/// @param {maps...} $maps -
///   Pass any number of maps to be merged.
/// @return {map} -
///   The merged map of easings.
@function merge(
  $maps...
) {
  $return: ();

  @each $map in $maps {
    @if type.check($map, 'map') {
      $return: map.merge($return, $map);
    } @else {
      $type: meta.type-of($map);
      @return throw.error(
        'Each value of `$maps...` must be a map, got `[#{$type}]: #{$map}`',
        'merge'
      );
    }
  }

  @return $return;
}
