// Time Tests
// ==========
@include test-module('Animate: Times') {


// Time [function]
// ---------------
@include describe('Time [function]') {
  @include it('Get time from map setting') {
    @include assert-equal(
      time('fast'),
      150ms
    );
  }

  @include it('Get adjusted times') {
    @include assert-equal(
      time('plus-name'),
      152ms
    );
  }

  @include it('Makes on-the-fly adjustments') {
    @include assert-equal(
      time('plus-name', ('times': 2)),
      304ms
    );
  }

  @include it('Get time from local source') {
    $local: ('new': 34ms);
    @include assert-equal(
      time('new', $source: $local),
      34ms
    );
  }
}


// Add Times [mixin]
// -----------------
@include describe('Add Times [mixin]') {
  $old: $times;
  $a: ('short': 150ms);
  $b: ('long': 2s);

  @include add-times($a, $b);

  @include it('Merges times, and updates global variable') {
    @include assert-equal(
      $times,
      map-merge($old, map-merge($a, $b))
    );
  }

  $times: $old !global;
}

} // end module
