@use '../../node_modules/sass-true' as *;
@use '../../sass/scale/config';
@use '../../sass/utils/map';

$_global: config.$sizes;

// Scale Config Tests
// ==================
@include test-module('Scale: Config') {
  @include describe('Add Sizes [mixin]') {
    $old: config.$sizes;
    $new1: (
      'test': 3em,
      'other': 1vw,
    );
    $new2: (
      'test': 4em,
    );
    @include config.add-sizes($new1, $new2);
    @include it('Adds maps to the $sizes global') {
      @include assert-equal(config.$sizes, map.multi-merge($old, $new1, $new2));
    }
  }
} // end module
