name: Test

on:
  push:

jobs:
  test:
    name: Sass
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: corepack enable
      - uses: actions/setup-node@v5
        with:
          node-version: 'lts/*'
          cache: yarn
      - run: yarn install
      - run: yarn test

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: corepack enable
      - uses: actions/setup-node@v5
        with:
          node-version: 'lts/*'
          cache: yarn
      - run: yarn install
      - run: yarn lint:ci
