// Accessibility Init
// ==================


/// Chrome 44-, iOS 8+, Safari 9+
/// @group init-a11y
audio {
  :not([controls]) {
    display: none;
  }
}


/// Specify the progress cursor of updating elements.
/// @group init-a11y
[aria-busy='true'] {
  cursor: progress;
}


/// Specify the pointer cursor of trigger elements.
/// @group init-a11y
[aria-controls] {
  cursor: pointer;
}


/// Specify the unstyled cursor of disabled,
/// not-editable, or otherwise inoperable elements.
/// @group init-a11y
[aria-disabled] {
  cursor: default;
}


/// Internet Explorer 10-
/// @group init-a11y
[hidden] {
  display: none;
}
