// Forms Init
// ==========


/// Internet Explorer 11-
/// @group init-forms
button {
  overflow: visible;
}


/// - Border-radius: iOS 8+ |
/// - Line-height: Firefox 4+
/// @group init-forms
input {
  border-radius: 0;
  line-height: normal;
}


// stylelint-disable declaration-no-important
/// Appearance, cursors, and inner-focus
/// for buttons and button-like inputs.
///
/// - Appearance: iOS 8+
/// @group init-forms
button,
[type='button'],
[type='reset'],
[type='submit'] {
  appearance: button;
  cursor: pointer;

  &::-moz-focus-inner {
    border: 0 none !important;
    padding: 0 !important;
  }
}
// stylelint-enable


/// Address box sizing set to `content-box` in IE 8/9/10.
/// Remove excess padding in IE 8/9/10.
/// @group init-forms
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}


/// Firefox 36+
/// @group init-forms
[type='number'] {
  width: auto;
}


/// Chrome 45+, Safari 9+
/// @group init-forms
[type='search'] {
  appearance: textfield;
}


/// Specify the background-color,
/// and the inherited color/font of form elements.
/// @group init-forms
button,
input,
select,
textarea {
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
}


/// Remove default vertical scrollbar in IE 8/9/10/11,
/// and specify the resizability of textareas.
/// @group init-forms
textarea {
  overflow: auto;
  resize: vertical;
}
