// Media Init
// ==========


/// Remove border when inside `a` element in IE 8/9/10.
/// @group init-media
img {
  border: 0;
}


/// Internet Explorer 11-
/// @group init-media
svg {
  &:not(:root) {
    overflow: hidden;
  }
}


/// Specify the alignment of media elements.
/// @group init-media
audio,
canvas,
iframe,
img,
svg,
video {
  max-width: 100%;
  vertical-align: middle;
}
