// Typography Init
// ===============


/// Remove the gray background color from active links in IE 10.
/// Improve readability of focused elements
/// when they are also in an active/hover state.
/// @group init-type
a {
  background-color: transparent;

  &:active,
  &:hover {
    outline: 0;
  }
}


/// Address styling not present in IE 8/9/10/11, Safari, and Chrome.
/// @group init-type
abbr {
  &[title] {
    border-bottom: 1px dotted;
  }
}


/// Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
/// @group init-type
b,
strong {
  font-weight: bold;
}


/// Specify the font family of code elements.
/// @group init-type
code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: inherit;
}


/// Address styling not present in Safari and Chrome.
/// @group init-type
dfn {
  font-style: italic;
}


/// Remove list style of nav lists.
/// @group init-type
nav {
  ol,
  ul {
    list-style: none;
  }
}


/// All browsers…
/// @group init-type
small {
  font-size: 0.75em;
}


/// Prevent `sub` and `sup` affecting `line-height` in all browsers.
/// @group init-type
sub,
sup {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}


/// Move super-script up.
/// @group init-type
sup {
  top: -0.5em;
}


/// Move sub-script down.
/// @group init-type
sub {
  bottom: -0.25em;
}
